body {
  font-family: Arial;
  text-align: center;
  background-color: #f2f2f2;
}

.form input {
  margin: 5px;
  padding: 8px;
}

button {
  padding: 8px 15px;
  margin: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}
